.card {
  width: 323px;
  height: 326px;
  border-radius: 1px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  margin: 0;
  height: 20px;
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: 2px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
}

.card__image {
  width: 100%;
  cursor: pointer;
}

.card__like-on {
  height: 15px;
  width: 18px;
  border: none;
  margin-left: 10px;
  display: flex;
  cursor: pointer;
  background: transparent url(../../assets/Like-Active.png) center no-repeat;
  padding: 10px;
}

.card__like-off {
  height: 15px;
  width: 18px;
  border: none;
  margin-left: 10px;
  display: flex;
  cursor: pointer;
  background: transparent url(../../assets/Like-Inactive.png) center no-repeat;
  padding: 10px;
}

.hidden {
  display: none;
}
