.header {
  display: flex;
  align-items: center;
  padding: 32px 0 28px;
}

.header__add-clothes-button {
  border: none;
  cursor: pointer;
  width: 142px;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin-right: 20px;
  position: relative;
  width: 100%;
  height: 25px;
}

.header__date-and-location {
  margin: 0;
  width: 100%;
  height: 24px;
}

.header__logo {
  margin-right: 24px;
}

.header__link {
  text-decoration: none;
  color: black;
  display: flex;
  margin-left: 12px;
}

/*.header__avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;  Adjust size as needed 
  height: 40px;
  background-color: #ccc;  Background color for the placeholder 
  border-radius: 50%;
  font-weight: bold;
  color: white;  Text color 
  font-size: 18px;  Adjust font size as needed 
} */
