/* /*.modal__content {
  visibility: visible;
}

.modal__content_type_image {
  visibility: visible;
} */

.modal__image {
  width: 498px;
  height: 498px;
  max-width: 100%;
  max-height: 100%;
}

.card__delete {
  width: 101px;
  height: 24px;
  top: 624px;
  left: 836px;
}
.card__delete-caption {
  width: 101px;
  height: 24px;
  top: 624px;
  left: 836px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  font-family: "Cabinet Grotesk";
  color: orange;
  cursor: pointer;
  border: none;
}
