/* /*.modal__content {
  visibility: visible;
}

.modal__content_type_image {
  visibility: visible;
} */

.modal__image {
  width: 498px;
  height: 498px;
  max-width: 100%;
  max-height: 100%;
}

.card__delete-caption {
  border: none;
  width: 101px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: orange;
}
