.clothes__section-title {
}

.clothes__section-button {
  cursor: pointer;
}

.clothes-section__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}
